* { box-sizing: border-box; }

body {
  font-family: system-ui, sans-serif;
}

canvas {
  margin-top: 15px;
  max-height: 400px;
  max-width: 1000px;
}

.stat {
  margin-top: 10px;
}
.stat .name, .stat .value {
  display: inline-block;
}
.stat .name {
  font-weight: bold;
}
